html,
body,
#root {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    position: relative;
    width: 100%;
    margin: auto;
}

.chat-wrapper,
.nav-item, button, h1, h2, h3, h4, h5, h6 {
    font-family: Roboto, sans-serif;
}

#root {
    height: 100%;
    width: 100%;
    position: relative;
}

.appbar-style {
    justify-content: space-between;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.dashboard {

}

.appbar-search {

    height: 40px;
    display: flex;
    position: relative;
    background-color: #ffffff;
    margin: 2px;
    padding-left: 5px;
    border-radius: 5px;
}

.card .content-image {
    width: 100%;
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.card :hover .image {
    opacity: 0.3;
}

.card :hover .middle {
    opacity: 1;
}

.card .shower {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.card .shower .text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    /*padding: 16px 32px;*/
}

.content {
    position: relative;
    width: 100%;
    /*max-width: 400px;*/
    margin: auto;
    overflow: hidden;
}

.content .content-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
    opacity: 1;
}

.content-image {
    width: 100%;
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}

.content-details h6 {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    font-size: 12px;
}

.content-details p {
    color: #fff;
    font-size: 0.8em;
}

.fadeIn-bottom {
    top: 80%;
}

.app-body {
    margin-top: 20px;
}

.detail a{
    text-decoration: none;
}

.detail .detail-img {
    width: 60%;
}

.detail > span{
    color: #393939;
}

.detail .detail-overview{
    margin: 10px 0 10px 0 ;
}
.detail .detail-row {
    display: flex;
    margin: 10px 0 10px 0 ;

}

