html,
body,
#root {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}
.container{
    margin: auto;
}

.chat-wrapper,
.nav-item, button, h1, h2, h3, h4, h5, h6 {
    font-family: Roboto, sans-serif;
}

#root {
    height: 100%;
    width: 100%;
    position: relative;
}
